<form class="form" [formGroup]="userDataForm" (submit)="auth()" *ngIf="!(isRequestActive$ | async)">
  <span class="error-font" *ngIf="errorMessage">
    {{errorMessage}}
  </span>
  <div class="form-info">
    <label class="label-font" for="username">
      Name
    </label>
    <input type="text" class="input-form" id="username" formControlName="username">
    <label class="label-font" for="password">
      Password
    </label>
    <input type="password" class="input-form" id="password" formControlName="password">
  </div>
  <button class="button" type="submit">Sign in</button>
</form>
<div *ngIf="isRequestActive$| async" class="loader">Loading...</div>
