:host {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  overflow: hidden;

  &::after {
    content: '';
    margin-left: 10vw;
    width: 24%;
    height: 815px;
    position: absolute;
    left: 45%;
    opacity: 0.5;
    background-image: url(../../assets/cat.png);
    background-repeat: no-repeat;
    background-size: 60%;
    animation: animatedFalling 20s linear infinite;
    z-index: 2;
  }
}

.form {
  width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: none !important;
  background: #0000001a;
  z-index: 5;
}

.form-info {
  padding: 15% 0 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.label-font {
  font-size: 30px;
}

.loader {
  height: 400px;
  width: 450px;
  z-index: 5;
  background-image: url(../../assets/loader.gif);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 30px;
  text-align: end
}

.error-font {
  position: absolute;
  top: 15px;
  font-size: 30px;
  z-index: 7;
  color: #ff8675;
}

