@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 300px 0 200px;
  background: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(2px);
  box-shadow: 0 8px 20px -16px rgba(0, 0, 0, 0.55), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  display: flex;
  justify-content: space-between;

  ul {
    font-size: 22px;
    list-style: none;
    display: flex;
    gap: 36px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
}

.caption {
  width: fit-content;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}

.logo {
  width: 85px;
  height: 85px;
  object-fit: contain;
}
