:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 16px 0 200px;
  background: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(2px);
  box-shadow: 0 8px 20px -16px rgba(0, 0, 0, 0.55), 0 1px 0 rgba(255, 255, 255, 0.15) inset;

}

.caption {
  width: fit-content;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}

.logo {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
