<span>{{isRequestActive$ | async}}</span>
<div class="header">
  <form class="add-todo" (submit)="addTodo()">
    <input class="input-form" type="text" [formControl]="createTodoForm">
    <button class="button" type="submit" [disabled]="isRequestActive$ | async">Add Todo</button>
  </form>
  <div class="navigation">
    <button class="button">Sign Out</button>
  </div>
</div>
<div class="todos-container">
  <div class="todo" *ngFor="let todo of todoArr$ | async; let i = index">
    <span class="todo-number">
      {{i + 1}}.
    </span>
    <span class="todo-text" *ngIf="!(todo === (selectedTodo$ | async))">
      {{todo.todo}}
    </span>
    <input class="edit" type="text" *ngIf="todo === (selectedTodo$ | async)" [(ngModel)]="todo.todo">
    {{todo.todo}}
    <button class="button small" (click)="editTodo(i)" [disabled]="todo.isImmutable || (isRequestActive$ | async)">
      {{todo === (selectedTodo$ | async) ? 'Save' : 'Edit'}}
    </button>
    <input class="todo-complete" type="checkbox" [checked]="todo.completed">
    <button class="delete-button" (click)="removeTodo(todo)" [disabled]="todo.isImmutable || (isRequestActive$ | async)">✖</button>
  </div>
</div>
