<div class="header">
  <form class="add-todo" (submit)="addTodo()">
    <input class="input-form" type="text" [formControl]="createTodoForm">
    <button class="button" type="submit">Add Todo</button>
  </form>
  <div class="navigation">
    <button class="button" (click)="signOut()">Sign Out</button>
  </div>
</div>
<div class="todos-container">
  <div class="todo" *ngFor="let todo of todoArr$ | async; let i = index">
    <span class="todo-number">
      {{i + 1}}.
    </span>
    <span class="todo-text" *ngIf="!(todo === (selectedTodo$ | async))">
      {{todo.todo}}
    </span>
    <input class="edit" type="text" *ngIf="todo === (selectedTodo$ | async)" [(ngModel)]="todo.todo">
    <button class="button small" (click)="editTodo(i)" [attr.disabled]="todo.isEditable">
      {{todo === (selectedTodo$ | async) ? 'Save' : 'Edit'}}
    </button>
    <input class="todo-complete" type="checkbox" [checked]="todo.completed">
    <button class="delete-button" (click)="removeTodo(todo)" [attr.disabled]="todo.isEditable">✖</button>
  </div>
</div>
